<!-- <p>dashboard works!</p> -->
<!-- <button (click)="getData()">click</button>
<button (click)="postData()">post click</button>
<button (click)="cacheDelete()">refresh data</button>
<button (click)="navigateByUrl()">link</button> -->
<div class="stoplosscal">
    <input [(ngModel)]="stlssValue" (ngModelChange)="stoplosscal()" placeholder="enter price"/>
    <p>Stoploass <span ngClass="inactive">{{stlss|number:'1.2-2'}}</span>- Gain <span ngClass="active">{{stgn|number:'1.2-2'}}</span></p>
</div>
<input [(ngModel)]="listSelected" (ngModelChange)="changedDropdown()" placeholder="search and to list"/>
<table style="border: 1px gray;">
    <thead>
        <tr>
            <th>Label</th>
            <th>ID</th>
            <th>Action</th>
        </tr>
    </thead>

    <tr *ngFor="let list of listEnterprises">
        <td>{{list?.title}}</td>
        <td>{{list?.bse_scrip_code}}</td>
        <td>{{list?.nse_scrip_code}}</td>
        <td ><button (click)="selectedOption(list)" >Add</button></td>
    </tr>
</table>
<!-- <button (click)="linkPage('/all-stock')">See ALL</button> -->
<a
[routerLink]="['/all-stock']">
all stock report
</a>  <a
[routerLink]="['/live-watch']">
Live Watch
</a>
<h2 class="message">{{finalSelected}}</h2>
<button  mat-raised-button color="primary" (click)="openToggle()">open {{openOrder}}</button>

<br>
<div class="fixwidth">
    <input [(ngModel)]="filterTable" (ngModelChange)="filterTableData()" placeholder="table filter"/>
    <button  mat-raised-button color="primary" (click)="toggle()">{{order}}</button>

    <button  mat-fab color="primary" (click)="loadData()" style="float: right;">Reload<span *ngIf="loading">ing!</span></button>
</div>
<input [(ngModel)]="stopLossValue" (ngModelChange)="stoploss()" placeholder="Stoploss value in %"/>
<input [(ngModel)]="exitValue" (ngModelChange)="stoploss()" placeholder="exit value in %"/>
<!-- <div *ngFor="let tmp of myData">
    <p>{{tmp?.dat?.name}}</p>
</div> -->
<table style="border: 1px gray;" class="table">
    <thead>
        <tr>
            <th>Company</th>
            <th>Price</th>
            <th>Percentage</th>
            <th>open Price</th>
            <th>last Price</th>
            <th>starting Price Diff(<span ngClass="active">{{gainLoss?.gain}}</span>/<span ngClass="inactive">{{gainLoss?.loss}}</span>)</th>
            <!-- <th>Stoploss</th> -->
            <!-- <th>Exit</th> -->
            <!-- <th>Today Low</th> -->
            <!-- <th>Today High</th> -->
            <th *ngFor="let list of uniquDates" rowspan="3" class="dateCell">{{list}}
                <tr style="border: 0;">
                    <th>Close Price </th>
                    <th>Gain/Loss </th>
                    <th>Percentage </th>
                  </tr>
            </th>
          </tr>

    </thead>

    <tr *ngFor="let list of myData">
        <td>{{list?.Tittle}}(<small>{{list?.symbol}}</small>)</td>
        <td><b>{{list?.ltp}}</b></td>
        <td><span  [ngClass]="list?.dayChangePerc>0 ?  'active' : 'inactive'">{{list?.dayChangePerc | number : '1.2-2' }}</span></td>
        <td>{{list?.open}}</td>
        <td>{{list?.close}}</td>
        <td><span  [ngClass]="(list?.openChange)>0 ?  'active' : 'inactive'">{{list?.openChange | number : '1.2-2' }}</span></td>
        <!-- <td ><span ngClass="inactive stoploss">{{list?.stoploss |number:'1.2-2'}}</span></td> -->
        <!-- <td ><span ngClass="active stoploss">{{list?.exit |number:'1.2-2'}}</span></td> -->
        <!-- <td>{{list?.high}}</td> -->
        <td *ngFor="let uniDate of uniquDates" class="dateCell">
            <tr class="border">
                <td class="border" *ngIf="list[uniDate]"> {{list[uniDate]['CLOSE_PRICE']}}</td>
                <td class="border"  *ngIf="list[uniDate]" [ngClass]="list[uniDate]['CLOSE_PRICE']-list[uniDate]['PREV_CLOSE']>0 ?  'active' : 'inactive'"> {{list[uniDate]['CLOSE_PRICE']-list[uniDate]['PREV_CLOSE'] |number:'1.2-2'}}<span *ngIf="list[uniDate]['CLOSE_PRICE']">Rs</span></td>
                <td class="border"  *ngIf="list[uniDate]" [ngClass]="list[uniDate]['CLOSE_PRICE']-list[uniDate]['PREV_CLOSE']>0 ?  'active' : 'inactive'"> {{((list[uniDate]['CLOSE_PRICE']-list[uniDate]['PREV_CLOSE'])/list[uniDate]['PREV_CLOSE'])*100 |number:'1.2-2'}}<span *ngIf="list[uniDate]['CLOSE_PRICE']">%</span></td>
            </tr>
        </td>
    </tr>
</table>