<!-- <p>dashboard works!</p> -->
<!-- <button (click)="getData()">click</button>
<button (click)="postData()">post click</button>
<button (click)="cacheDelete()">refresh data</button>
<button (click)="navigateByUrl()">link</button> -->
<input [(ngModel)]="listSelected" (ngModelChange)="changedDropdown()" placeholder="search and to list"/>
<table style="border: 1px gray;">
    <thead>
        <tr>
            <th>Label</th>
            <th>ID</th>
            <th>Action</th>
        </tr>
    </thead>

    <tr *ngFor="let list of listEnterprises">
        <td>{{list?.title}}</td>
        <td>{{list?.nse_scrip_code}}</td>
        <td *ngIf="list?.nse_scrip_code"><button (click)="selectedOption(list)" >Add</button></td>
    </tr>
</table>
<!-- <button (click)="linkPage('/all-stock')">See ALL</button> -->
<a
[routerLink]="['/all-stock']">
Link All Page
</a>
{{finalSelected|json}}
<br>
<div class="fixwidth">
    <input [(ngModel)]="filterTable" (ngModelChange)="filterTableData()" placeholder="table filter"/>
    <button  mat-raised-button color="primary" (click)="toggle()">{{order}}</button>
    <button  mat-fab color="primary" (click)="loadData()" style="float: right;">Reload<span *ngIf="loading">ing!</span></button>
</div>

<!-- <div *ngFor="let tmp of myData">
    <p>{{tmp?.dat?.name}}</p>
</div> -->
<table style="border: 1px gray;">
    <thead>
        <tr>
            <th>Company</th>
            <th>Price</th>
            <th>Percentage</th>
            <th>open Price</th>
            <th>last Price</th>
            <!-- <th>Today Low</th> -->
            <!-- <th>Today High</th> -->
            <th *ngFor="let list of uniquDates" rowspan="3" class="dateCell">{{list}}
                <tr style="border: 0;">
                    <th>Close Price </th>
                    <th>Gain/Loss </th>
                    <th>Percentage </th>
                  </tr>
            </th>
          </tr>

    </thead>

    <tr *ngFor="let list of myData">
        <td>{{list?.Tittle}}(<small>{{list?.symbol}}</small>)</td>
        <td><b>{{list?.ltp}}</b></td>
        <td><span  [ngClass]="list?.dayChangePerc>0 ?  'active' : 'inactive'">{{list?.dayChangePerc | number : '1.2-2' }}</span></td>
        <td>{{list?.open}}</td>
        <td>{{list?.close}}</td>
        <!-- <td>{{list?.low}}</td> -->
        <!-- <td>{{list?.high}}</td> -->
        <td *ngFor="let uniDate of uniquDates" class="dateCell">
            <tr class="border">
                <td class="border" *ngIf="list[uniDate]"> {{list[uniDate]['CLOSE_PRICE']}}</td>
                <td class="border"  *ngIf="list[uniDate]" [ngClass]="list[uniDate]['CLOSE_PRICE']-list[uniDate]['PREV_CLOSE']>0 ?  'active' : 'inactive'"> {{list[uniDate]['CLOSE_PRICE']-list[uniDate]['PREV_CLOSE'] |number:'1.2-2'}}<span *ngIf="list[uniDate]['CLOSE_PRICE']">Rs</span></td>
                <td class="border"  *ngIf="list[uniDate]" [ngClass]="list[uniDate]['CLOSE_PRICE']-list[uniDate]['PREV_CLOSE']>0 ?  'active' : 'inactive'"> {{((list[uniDate]['CLOSE_PRICE']-list[uniDate]['PREV_CLOSE'])/list[uniDate]['PREV_CLOSE'])*100 |number:'1.2-2'}}<span *ngIf="list[uniDate]['CLOSE_PRICE']">%</span></td>
            </tr>
        </td>
    </tr>
</table>