table { border-collapse: collapse; }
tr,td { border: solid thin;min-width: 100px; }
.active{
    color: green;
    font-weight: bold;
    span{
        color: gray;
        font-size: 10px;
    }
}
.inactive{
    color: red;
    font-weight: bold;
    span{
        color: gray;
        font-size: 10px;
    }
}
*{
    font-family: 'Poppins', sans-serif;
}
.fixwidth{
    width: 800px;
}
.border{
    border: 0;
}
.dateCell{
    font-size: 12px;
}
.input_fileupload--hidden{
    display:none;
  }
.upload.layout {
    position: absolute;
    right: 10px;
    top: 10px;
}
.red{
    color: red;
}
