
<div class="fixwidth">
   
    <button mat-fab color="primary" (click)="loadData('')" [ngClass]="loading?'inactivebg':'activebg'" style="float: right;">Reload<span *ngIf="loading">ing!</span></button>
</div>

<!-- <div *ngFor="let tmp of myData">
    <p>{{tmp?.dat?.name}}</p>
</div> -->
    
<!-- <mat-form-field appearance="fill">
    <mat-label>Input & change events</mat-label>
    <input matInput [matDatepicker]="picker"
           (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>    -->
<!-- <h2>{{myData[0]['DATE1']}}</h2> -->
    <!-- <input [(ngModel)]="dateSelected"> -->
<!-- <button mat-raised-button color="accent" (click)="loadData('')">Load By Date</button> -->
<mat-form-field appearance="fill">
    <mat-label>Select Date</mat-label>
    <input matInput [matDatepicker]="pickerDate"
           (dateChange)="loadbyDate($event)">
    <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerDate></mat-datepicker>
</mat-form-field>
<input list="browsers" name="browser" id="browser"  [(ngModel)]="selectedSymbol">
    <datalist id="browsers">
      <option value="{{list.NSESYMBOL}}" *ngFor="let list of symbols">
    </datalist>
<button (click)="loadDataBySymbol()" mat-raised-button color="primary"> loadDataBySymbol</button>
<br>
<input [(ngModel)]="filterTable" (ngModelChange)="filterTableData()" placeholder="table filter"/>
<button mat-raised-button color="primary" (click)="toggle()">{{order}}</button>
<br>Daily Average:<span [ngClass]="dailyAv>=0?'active' : 'inactive'">{{dailyAv |number:'1.2-2'}}%</span>
<br>Total Average:<span [ngClass]="avarage>=0?'active' : 'inactive'">{{avarage |number:'1.2-2'}}%</span>
<button mat-raised-button color="primary" (click)="martoggle()">Market Sort {{market}}</button>
    <select name="languages" id="lang" [(ngModel)]="dropdown" (ngModelChange)="filterIndustry()">
        <option>All</option>
        <option *ngFor="let list of industry">
            {{list?.INDUSTRY}}
        </option>
    </select>
    <!-- <button (click)="filterIndustry()" mat-raised-button> Filter</button> -->

<table style="border: 1px gray;" class="table">
    <thead>
        <tr>
            <th>Company</th>
            <th>Price</th>
            <th>last Price</th>
            <th>Loss/Gain</th>
            <th>Percentage</th>
            <th>Date</th>
            <th>Industry</th>
            <th>Market Cap</th>
            </tr>

    </thead>

    <tr *ngFor="let list of myData">
        <td>{{list?.SYMBOL}}</td>
        <td class="border" *ngIf="list"> {{list['CLOSE_PRICE']}}</td>
        <td class="border" *ngIf="list"> {{list['PREV_CLOSE']}}</td>
        <td class="border"  *ngIf="list" [ngClass]="list['CLOSE_PRICE']-list['PREV_CLOSE']>0 ?  'active' : 'inactive'"> {{list['CLOSE_PRICE']-list['PREV_CLOSE'] |number:'1.2-2'}}<span *ngIf="list['CLOSE_PRICE']">Rs</span></td>
        <td class="border"  *ngIf="list" [ngClass]="list['CLOSE_PRICE']-list['PREV_CLOSE']>0 ?  'active' : 'inactive'"> {{((list['CLOSE_PRICE']-list['PREV_CLOSE'])/list['PREV_CLOSE'])*100 |number:'1.2-2'}}<span *ngIf="list['CLOSE_PRICE']">%</span></td>
        <td>{{list['DATE1']}}</td>
        <td>{{list['INDUSTRY']}}</td>
        <td>{{list['MARKETCAP']}}</td>
    </tr>
</table>
<h2 *ngIf="myData?.length==0" class="red alert">No Data for the day</h2>
<div class="upload layout">
    <input #fileUpload mat-raised-button color="primary"
       type="file"
       class="input_fileupload--hidden"
       (input)="onInput($event)"
       (change)="onFileSelected($event)"
       [(ngModel)]="inputFileName"
>

    <button mat-raised-button color="primary" (click)="onClick($event)" style="margin-right: 20px;">
        <img src="../../assets/images/attach.svg" style="width: 23px;">
    </button>
        <button mat-raised-button color="primary" (click)="uploadFile()" > Upload </button>
        <br>
        {{fileUploadnew?.name}}
        <div *ngIf="uploadLoader">status:{{message.message}}</div>
        <mat-form-field appearance="fill">
            <mat-label>Select Date</mat-label>
            <input matInput [matDatepicker]="picker"
                   (dateChange)="addEvent($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="fetchData()" > FetchData </button>
        <div>{{result?.message}}</div>
</div>
