
<div class="fixwidth">
   
    <button mat-fab color="primary" (click)="loadData('')" [ngClass]="loading?'inactivebg':'activebg'" style="float: right;">Reload<span *ngIf="loading">ing!</span></button>
</div>

<!-- <div *ngFor="let tmp of myData">
    <p>{{tmp?.dat?.name}}</p>
</div> -->
    
<!-- <mat-form-field appearance="fill">
    <mat-label>Input & change events</mat-label>
    <input matInput [matDatepicker]="picker"
           (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>    -->
<!-- <h2>{{myData[0]['DATE1']}}</h2> -->
    <!-- <input [(ngModel)]="dateSelected"> -->
<!-- <button mat-raised-button color="accent" (click)="loadData('')">Load By Date</button> -->
<mat-form-field >
    <mat-label>Select Date</mat-label>
    <input matInput [matDatepicker]="pickerDate"
           (dateChange)="loadbyDate($event)">
    <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerDate></mat-datepicker>
</mat-form-field>
<input list="browsers" name="browser" id="browser"  [(ngModel)]="selectedSymbol1">
    <datalist id="browsers">
      <option value="{{list.NSESYMBOL}}" *ngFor="let list of symbols">
    </datalist>
<button (click)="loadDataBySymbol('auto')" mat-raised-button color="primary"> loadDataBySymbol</button>
<br>
<input [(ngModel)]="filterTable" (ngModelChange)="filterTableData()" placeholder="table filter"/>
<button mat-raised-button color="primary" (click)="toggle()">{{order}}</button>
<br>Daily Average:<span [ngClass]="dailyAv>=0?'active' : 'inactive'">{{dailyAv |number:'1.2-2'}}%</span>
<br>Total Average:<span [ngClass]="avarage>=0?'active' : 'inactive'">{{avarage |number:'1.2-2'}}%</span>
    <select name="languages" id="lang" [(ngModel)]="dropdown" (ngModelChange)="filterIndustry()">
        <option>All</option>
        <option *ngFor="let list of industry">
            {{list?.INDUSTRY}}
        </option>
    </select>
    <!-- <button (click)="filterIndustry()" mat-raised-button> Filter</button> -->
    <select name="languages" id="lang" [(ngModel)]="selectedSymbol" (ngModelChange)="loadDataBySymbol('')">
        <option *ngFor="let list of symbols">
            {{list?.NSESYMBOL}}
        </option>
    </select>
    <button  mat-raised-button color="primary" [routerLink]="['/']" >Home </button>    <span style="margin-right: 20px;"></span>
<mat-slide-toggle [(ngModel)]="nonoption" (ngModelChange)="nonoptionchangedtoggle()">Non Option</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="toggle_isChecked" (ngModelChange)="changedtoggle()">Option Trade Analysis</mat-slide-toggle>
<div class="upload layout">
    <input #fileUpload mat-raised-button color="primary"
       type="file"
       class="input_fileupload--hidden"
       (input)="onInput($event)"
       (change)="onFileSelected($event)"
       [(ngModel)]="inputFileName"
>

    <button mat-raised-button color="primary" (click)="onClick($event)" style="margin-right: 20px;">
        <img src="../../assets/images/attach.svg" style="width: 23px;">
    </button>
        <button mat-raised-button color="primary" (click)="uploadFile()" > Upload </button>
        <br>
        {{fileUploadnew?.name}}
        <div *ngIf="uploadLoader">status:{{message.message}}</div>
        <mat-form-field >
            <mat-label>Select Date</mat-label>
            <input matInput [matDatepicker]="picker"
                   (dateChange)="addEvent($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="fetchData()" > FetchData </button>
        <div>{{result?.message}}</div>
</div>
<select name="languages" id="lang" [(ngModel)]="optioTypeValue" (ngModelChange)="optionType()">
    <option *ngFor="let type of listoptionType">
        {{type}}
    </option>
</select>
<table style="border: 1px gray;" class="table" *ngIf="!toggle_isChecked">
    <thead>
        <tr>
            <th (click)="toggleSort('SYMBOL')">Company</th>
            <th (click)="toggleSort('CLOSE_PRICE')">Price</th>
            <th (click)="toggleSort('OPEN_PRICE')">Open Price</th>
            <th (click)="toggleSort('PREV_CLOSE')">Last Price</th>
            <th (click)="toggleSort('loss_gain')">Loss/Gain</th>
            <th (click)="toggleSort('open_per')">Open Per(<span class="active">{{countList?.open}}</span>/<span class="inactive">{{countList?.close}}</span>-{{countList?.total}})</th>
            <th (click)="toggleSort('dayChangePerc')">Percentage</th>
            <th ><span (click)="toggleSort('TIMESTAMP')">Date</span><span (click)="toggleSort('weekDay')">(WeekDay)</span></th>
            <th (click)="toggleSort('INDUSTRY')">Industry</th>
            <th (click)="toggleSort('MARKETCAP')">Market Cap</th>
        </tr>

    </thead>

    <tr *ngFor="let list of myData">
        <td><img [src]="list?.LOGO" width="25px" height="25px" *ngIf="list?.LOGO"/>{{list?.SYMBOL}}</td>
        <td class="border" *ngIf="list"> {{list['CLOSE_PRICE']}}</td>
        <td class="border" *ngIf="list"> {{list['OPEN_PRICE']}}</td>
        <td class="border" *ngIf="list"> {{list['PREV_CLOSE']}}</td>
        <td class="border"  *ngIf="list" [ngClass]="list?.loss_gain>0 ?  'active' : 'inactive'"> {{list?.loss_gain |number:'1.2-2'}}<span *ngIf="list['CLOSE_PRICE']">Rs</span></td>
        <td class="border"  *ngIf="list" [ngClass]="list?.open_per>0 ?  'active' : 'inactive'"> {{list?.open_per |number:'1.2-2'}}<span *ngIf="list['CLOSE_PRICE']">%</span></td>
        <td class="border"  *ngIf="list" [ngClass]="list?.dayChangePerc>0 ?  'active' : 'inactive'"> {{list?.dayChangePerc |number:'1.2-2'}}<span *ngIf="list['CLOSE_PRICE']">%</span></td>
        <td>{{list['DATE1']}}({{list['weekDay']}})</td>
        <td>{{list['INDUSTRY']}}</td>
        <td>{{list['MARKETCAP']}}</td>
    </tr>
</table>
<h2 *ngIf="myData?.length==0" class="red alert">No Data for the day</h2>

<table style="border: 1px gray;" class="table" *ngIf="toggle_isChecked">
    <thead>
        <tr>
            <th (click)="toggleSort('symbol')">symbol</th>
            <th (click)="toggleSort('contractDisplayName')">Name</th>
            <th (click)="toggleSort('dayChange')">dayChange</th>
            <th (click)="toggleSort('lotSize')">lotSize</th>
            <th (click)="toggleSort('min_price_buy')">min_price_buy</th>
            <th (click)="toggleSort('open_price')">open_price</th>
            <th (click)="toggleSort('optionType')">optionType</th>
            <th (click)="toggleSort('price')">price</th>
            <th (click)="toggleSort('volume')">volume</th>
            <th (click)="toggleSort('timstamp')">timstamp</th>
            <th (click)="toggleSort('expiry')">expiry</th>

        </tr>

    </thead>

    <tr *ngFor="let list of myData">
        <td>{{list?.symbol}}</td>
        <td class="border" *ngIf="list"> {{list['contractDisplayName']}}</td>
        <td class="border" class="border" [ngClass]="list['dayChange']>0?'active':'inactive'"> {{list['dayChange']}}</td>
        <td class="border"  *ngIf="list">{{list['lotSize']}} </td>
        <td>{{list['min_price_buy']}}</td>
        <td>{{list['open_price']}}</td>
        <td class="border" [ngClass]="list['optionType']=='Call'?'active':'orange'">{{list['optionType']}}</td>
        <td>{{list['price']}}</td>
        <td>{{list['volume']}}</td>
        <td>{{list['timstamp']}}</td>
        <td class="border" *ngIf="list"> {{list['expiry']}}</td>


    </tr>
</table>